{% extends 'base.html' %}
{% load static %}
{% block title %}
    ThanksPage
{% endblock title %}
{% block header-img %}
    <header class="header--form-page">
{% endblock header-img %}
{% block header-text %}
        <div class="slogan container container--90">
            <div class="slogan--item">
                <h1>
                    {% if message == '0' %}
                    <b>
                        Ups coś poszło źle !!!<br/>
                        Spróbuj ponownie, wypełnij wszystkie pola formularza.
                    </b>
                    {% elif message == '1' %}
                    <b>
                        Dziękujemy za przesłanie formularza !!!<br/>
                        Na maila prześlemy wszelkie informacje o odbiorze.
                    </b>
                    {% elif message == '2' %}
                    <b>
                        Dziękujemy za przesłanie formularza kontaktowego !!!<br/>
                        Na maila prześlemy odpowiedź w twojej sprawie.
                    </b>
                    {% elif message == '3' %}
                    <b>
                        Wypełnij porawnie formularz kontaktowy !!!<br/>
                        Spróbuj ponownie, wpisz poprawnie adres email.
                    </b>
                    {% elif message == '4' %}
                    <b>
                        Dziękujemy za rejestracje w naszym serwisie !!!<br/>
                        Na maila prześlemy link aktywacyjny.
                    </b>
                    {% elif message == '5' %}
                    <b>
                        Twój link jest błędny lub źle podany !!!<br/>
                        Spróbuj ponownie lub wypełnij formularz kontaktowy.
                    </b>
                    {% elif message == '6' %}
                    <b>
                        Na maila prześlemy link do zmiany hasła !!!
                    </b>
                    {% endif %}
                </h1>
            </div>
        </div>
    </header>
{% endblock header-text %}