{% extends 'base.html' %}
{% load static %}
{% block title %}
    ThanksPage
{% endblock title %}
{% block header-img %}
    <header class="header--form-page">
{% endblock header-img %}
{% block header-text %}
      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1><b>
              Dziękujemy za przesłanie formularza !!!<br/>
              Na maila prześlemy wszelkie informacje o odbiorze.
          </b></h1>
        </div>
      </div>
    </header>
{% endblock header-text %}