{% extends 'base.html' %}
{% load static %}
{% block title %}
    Login
{% endblock title %}
{% block header-img %}
    <header>
{% endblock header-img %}
{% block header-text %}
    </header>
        <section class="login-page">
            <h2>Zaloguj się</h2>
          <form method="POST">
              <h3 style="color: red">{{ message }}</h3>
              {% csrf_token %}
            <div class="form-group">
              <input type="email" name="email" placeholder="Email" />
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Hasło" />
                <br/>
              <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
            </div>

            <div class="form-group form-group--buttons">
              <button class="btn" type="submit">Zaloguj się</button>
              <a href="/register" class="btn btn--without-border">Załóż konto</a>
            </div>
          </form>
        </section>
{% endblock header-text %}
