{% extends 'base.html' %}
{% load static %}
{% block title %}
    Reset Password
{% endblock title %}
{% block header-img %}
    <header>
{% endblock header-img %}
{% block header-text %}
    </header>
    <section class="login-page">
        <h2>Resetowania hasła</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email.errors }}
                {{ form.email }}
            </div>
            <div class="form-group form-group--buttons">
                <button class="btn btn--without-border" type="submit">Wyślij email</button>
                <a onclick="history.back()" class="btn btn--without-border">Wstecz</a>
                <a href="{% url 'index' %}" class="btn btn--without-border">Anuluj</a>
            </div>
        </form>
    </section>
{% endblock header-text %}
