{% extends 'base.html' %}
{% load static %}
{% block title %}
    Update
{% endblock title %}
{% block header-img %}
    <header>
{% endblock header-img %}
{% block header-text %}
    </header>
          <section class="login-page">
              <h2>Zmień dane</h2>
          <form method="POST">
              {% csrf_token %}
            <div class="form-group">
                {{ form.first_name }}
            </div>
             <div class="form-group">
                 {{ form.last_name }}
            </div>
            <div class="form-group">
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.password_check.errors }}
                {{ form.password_check }}
            </div>
            <div class="form-group form-group--buttons">
              <button class="btn btn--without-border" type="submit">Zapisz</button>
              <a href="{% url 'password' %}" class="btn btn--without-border">Zmień hasło</a>
              <a href="{% url 'index' %}" class="btn btn--without-border">Anuluj</a>
            </div>
          </form>
        </section>
{% endblock header-text %}